<section class="sound-cloud">
        <div class="container">
      
    <div class="row">
      <div class="col-md-12">
                 <div class="section-heading style-2">
                            <p>See what’s new</p>
                            <h2>Buy What’s New</h2>
                 </div>
    
    </div>
</div>
</div>
<div class="sound-track">
<div class="container">
      <div class="row justify-content-around">
                  <div class="col-md-6 box">
                        <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328851503&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
            
                    <div class="col-md-6 box">
                            <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/83380061&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> </div>
            
                    <div class="col-md-6 box">
                            <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/29210525&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>

                    <div class="col-md-6 box">
                            <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/476522754&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                
                    <div class="col-md-6 box">
                            <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106420729&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>       
                    </div>
               
                    <div class="col-md-6 box">
                            <iframe width="100%" height="122" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/3141648&color=%237494ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                
            </div>
        </div>

            
</div>
            </section>

