<section class="miscellaneous-area section-padding-100-0"> 

<div class="container">    
    <div class="row">
        <div class="col-md-4">
            <div class="weeks-top-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms" style="visibility: visible; animation-delay: 50ms; animation-name: fadeInUp;">
                        <p>See what’s new</p>
                        <h2>This week’s top</h2>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt1.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>Sam Smith</h6>
                            <p>Underground</p>
                        </div>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="150ms" style="visibility: visible; animation-delay: 150ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt1.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>Power Play</h6>
                            <p>In my mind</p>
                        </div>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt3.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>Cristinne Smith</h6>
                            <p>My Music</p>
                        </div>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="250ms" style="visibility: visible; animation-delay: 250ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt4.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>The Music Band</h6>
                            <p>Underground</p>
                        </div>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt5.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>Creative Lyrics</h6>
                            <p>Songs and stuff</p>
                        </div>
                    </div>
            
                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInUp;">
                        <div class="thumbnail">
                            <img src="./././assets/artists/wt6.jpg" alt="">
                        </div>
                        <div class="content-">
                            <h6>The Culture</h6>
                            <p>Pop Songs</p>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms" style="visibility: visible; animation-delay: 50ms; animation-name: fadeInUp;">
                        <p>See what’s new</p>
                        <h2>New Hits</h2>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt7.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Sam Smith</h6>
                                <p>Underground</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:05</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 76.0648%;"></div><div class="audioplayer-bar-played" style="width: 1.54562%;"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms" style="visibility: visible; animation-delay: 150ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt8.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Power Play</h6>
                                <p>In my mind</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:02</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 75.6177%;"></div><div class="audioplayer-bar-played" style="width: 0.491044%;"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt9.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Cristinne Smith</h6>
                                <p>My Music</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 75.6177%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms" style="visibility: visible; animation-delay: 250ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt10.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>The Music Band</h6>
                                <p>Underground</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 75.6177%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt11.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Creative Lyrics</h6>
                                <p>Songs and stuff</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 75.6177%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInUp;">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="./././assets/artists/wt12.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>The Culture</h6>
                                <p>Pop Songs</p>
                            </div>
                        </div>
                        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="./././assets/music data/2.mp3">
                        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 75.6177%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">04:35</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div>
                    </div>
                </div>
                    
        </div>

        <div class="col-md-4">
        <div class="popular-artists-area mb-100">
                <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms" style="visibility: visible; animation-delay: 50ms; animation-name: fadeInUp;">
                    <p>See what’s new</p>
                    <h2>Popular Artist</h2>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa1.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>Sam Smith</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="150ms" style="visibility: visible; animation-delay: 150ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa2.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>William Parker</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa3.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>Jessica Walsh</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="250ms" style="visibility: visible; animation-delay: 250ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa4.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>Tha Stoves</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa5.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>DJ Ajay</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa6.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>Radio Vibez</p>
                    </div>
                </div>

                <!-- Single Artist -->
                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="thumbnail">
                        <img src="./././assets/artists/pa7.jpg" alt="">
                    </div>
                    <div class="content-">
                        <p>Music 4u</p>
                    </div>
                </div>

                    </div>

        </div>



    </div>
</div>

</section>