<section class="artist">
 
    <div class="row">
        <div class="container">
                <div class="tittle-header">
                        <h5>Recommended for you </h5>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="artists-list">
                <div class="artist-item">
                        <img src="././assets/artists/a3.jpg" alt="">
                        <div class="song-details">
                            <h6>At the Gate</h6>
                            <p> At The Gate Featuring Grace VanderWaal, MeduZa, Katy Perry, Lost Frequencies</p>
                        </div> 
                     </div>

                     <div class="artist-item">
                            <img src="././assets/artists/a3.jpg" alt="">
                            <div class="song-details">
                                <h6>At the Gate</h6>
                                <p> At The Gate Featuring Grace VanderWaal, MeduZa, Katy Perry, Lost Frequencies</p>
                            </div> 
                         </div>

                         <div class="artist-item">
                                <img src="././assets/artists/a3.jpg" alt="">
                                <div class="song-details">
                                    <h6>At the Gate</h6>
                                    <p> At The Gate Featuring Grace VanderWaal, MeduZa, Katy Perry, Lost Frequencies</p>
                                </div> 
                             </div>
                             <div class="artist-item">
                                    <img src="././assets/artists/a3.jpg" alt="">
                                    <div class="song-details">
                                        <h6>At the Gate</h6>
                                        <p> At The Gate Featuring Grace VanderWaal, MeduZa, Katy Perry, Lost Frequencies</p>
                                    </div> 
                                 </div>
                                 <div class="artist-item">
                                        <img src="././assets/artists/a3.jpg" alt="">
                                        <div class="song-details">
                                            <h6>At the Gate</h6>
                                            <p> At The Gate Featuring Grace VanderWaal, MeduZa, Katy Perry, Lost Frequencies</p>
                                        </div> 
                                     </div>
                </div>
            

            
        </div>
    </div>
</section>