 <!-- Music Charts Area Start -->
 <section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(./././assets/bg-img/31.jpg);">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading white">
                    <h2>Music Chart</h2>
                </div>
            </div>
            <!-- Show All Button -->
            <div class="col-sm-6">
                <div class="show-all-button mb-50 text-right">
                    <a href="#" class="btn show-all-btn">Show All Trending (Top 10)</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>1.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="./././assets/bg-img/25.jpg" alt="">
                        </div>
                        <div class="audio-player">
                                <audio class="audio" controls="controls">
                                        <source type="audio/mpeg" src="http://media.blubrry.com/codepen_radio/p/codepen-podcast.s3.amazonaws.com/100.mp3?_=1">
                                    </audio>
                        </div>
                        <div class="music-title">
                            <h5>Way Back Home - <span>RadioDaily Show</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="#" class="btn razo-btn btn-2">$12.99</a>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>2.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="./././assets/bg-img/26.jpg" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>Goodbye &amp; Good Riddance - <span>Juice World</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="#" class="btn razo-btn btn-2">$10.99</a>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>3.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="./././assets/bg-img/27.jpg" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>The Greatest Showman - <span>Soundtrack</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="#" class="btn razo-btn btn-2">$10.99</a>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>4.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="./././assets/bg-img/28.jpg" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>Mamma Mia! Here We Go Again - <span>Soundtrack</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="#" class="btn razo-btn btn-2">$10.99</a>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="900ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>5.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="./././assets/bg-img/29.jpg" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>Pray For The Wicked - <span>Panic! At The Disco</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="#" class="btn razo-btn btn-2">$10.99</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->