<br>
<div id="discover" class="discover-container">


    <div class="container">
            <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                    <img class="card-img-top" src="./././assets/user/pic.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="song-title">Card title</h5>
                    </div>
             </div>
        
        </div>

        <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="card">
                        <img class="card-img-top" src="./././assets/user/pic.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="song-title">Card title</h5>
                        </div>
                 </div>
            
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="card">
                            <img class="card-img-top" src="./././assets/user/pic.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="song-title">Card title</h5>
                            </div>
                     </div>
                
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="card">
                                <img class="card-img-top" src="./././assets/user/pic.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="song-title">Card title</h5>
                                </div>
                         </div>
                    
                    </div>
        
    </div>
</div>
              
            
</div>
   