<section class="js-singer-area bg-dark has-color pb-50">
    <div class="container"> 
      <div class="section-title text-center mb-50">
        <h2>TALENTED <span class="primary-color">MEMBERS</span></h2>  
        <p>Our band members </p>
      </div><!-- section-title -->
      <div class="row">
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/6.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>DAVID</h4>
              <p>Main Vocal</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/25.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>ZAVED RICHARD</h4>
              <p>Drummer</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/26.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>DAVID</h4>
              <p>Dj</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/29.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>SONIYA</h4>
              <p>Guitarist</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/35.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>ROSY</h4>
              <p>Main Vocal</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/25.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>TOMAS</h4>
              <p>Drummer</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/26.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>CHRLY</h4>
              <p>Dj</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="js-single-singer">
            <div class="js-singer-thumbnail">
              <img src="././assets/artists/a2.jpg" alt="Singer Thumbnail"> 
               <ul class="social-icon list-inline">
                 <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                 <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                 <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               </ul> 
            </div>
            <div class="js-singer-content">
              <h4>MONIKA</h4>
              <p>Guitarist</p>
            </div>
          </div>
        </div> <!--  col-lg-3 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>