     <div class="player">
        <div class="left"><img src="https://i.scdn.co/image/9ca53beeb365f468b023a8360634f309325b5487" alt=""></div>
        <div class="right">
           <div class="top">
              <a class="song" href="#">Let's Go To the Forest</a>
              <a class="artist" href="#">Kero Kero Bonito</a>
           </div>
           <div class="bottom">
                <audio controls>
                     <a href="">sss<i class="fa fa-music"></i></a> 
                        <source src="assets/music data/2.mp3" type="audio/mpeg">
                      </audio>                
           </div>
        </div>
     </div>